.card{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.card-top{
    display: flex;
    gap: 5px;
}

.card-top-labels{
    flex: 1;
    display: flex;
    gap: 10px;
}

.card-top svg{
    opacity: 0;
}
.card:hover .card-top svg{
    opacity: 1;
}
.card-title{
    font-weight: bold;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-footer p {
    display: flex;
    gap: 5px;
    align-items: center;
}
.card-footer svg{
    height: 14px;
    width: 14px;
}

.card-top-more{
    position: relative;
    cursor: pointer;
}
.card-dropdown{
    background-color: #fff;
    width: 130px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
}
.card-dropdown p{
    cursor: pointer;
}